@import 'partials/setup';

$font: 'Montserrat', sans-serif;
@mixin fontSize($sizeValue){
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
}


.flex {
	display: flex;
	flex-flow: row wrap;
}
p {
		@include fontSize(28);
		color:white;
		font-family: $font;
	}
h1 {
		@include fontSize(60);
		font-family: $font;
	}
.wrapper {
	max-width: 1280px;
	margin: 0 auto;
		
	i {
		@include fontSize(60);
		color: white;
		// text-align: left;
		// margin-top:10%;

	}
}
body {
	margin:0;
	padding:0;
}

html {
	font-size: 62.5%;
}
a {
	text-decoration: none;
	&:hover{
		color: #E37D15;
	}
}
// MAGNIFIYING GLASS ///

/*Some CSS*/
* {margin: 0; padding: 0;}
.magnify {width: 500px; margin: 100px auto; position: relative;}

/*Lets create the magnifying glass*/
.large {
	width: 300px; height:300px;
	position: absolute;
	border-radius: 300%;
	
	/*Multiple box shadows to achieve the glass effect*/
	box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 
	0 0 7px 7px rgba(0, 0, 0, 0.25), 
	inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
	
	/*Lets load up the large image first*/
	background: url('../assets/curtainrunportrait.jpg') no-repeat;
	
	/*hide the glass by default*/
	display: none;
}

/*To solve overlap bug at the edges during magnification*/
.small { display: block; }

// Main PAGE //
.main {
	background: url('../assets/wisbonemain.jpg') center no-repeat;
	width: 100%;
	height: 100vh;
	background-size: cover; 

}
.mainpage {
	display: flex;
	justify-content: space-between;
	h1{
		position: relative;
    	top: 500px;
    	left: 50px;
    	margin: 0 auto;
    	color: white;
		text-transform: uppercase;

	}
	i {
		position: relative;
    	top: 500px;
    	// width: 30%;
	}
	
}

.fa-arrow-left {
		&:hover{
		color: #4BF860;
	}
	}
.fa-arrow-right{
	&:hover{
		color: #E37D15;
	}
}	
.pagetwo {
	background-color: #9FA7B2 ;
	// width: 100%;
	// height: 100vh;
	// background-size: cover; 
}
.picturespage {
	width: 50%;
	position: relative;
    top: 50px;

	img {
		margin: 75px 75px 0;
    	width: 80%;
    	border: 5px solid #909090;
    	border-radius: 9px;
    	// padding: 7px;
	}
}
.textpage {
	width: 50%;
	position: relative;
    top: 450px;
    padding: 0px 35px 0 10px;
	
}

// Page Three
.pagethree {
	background-color: #895E89;
}
.textsingle {
	position: relative;
    top: 480px;
    padding: 0px 35px;
	
}

// Page Four
.pagefour {
	background-color: white;
	p {
		color: black;
	}
	i {
		color: black;
	}
	.textpage {
    top: 400px;
	
}

}


// Page Five
.pagefive {

	background-color: #978486;
	.textLarge {
    	
    	text-align: center;
    	margin-bottom: 80px;
	}

	.picturesLarge{

    	img{
    		margin: 0 auto;
    		width: 85%;
    		margin-top: 50px;
    	}

	}

}
// Page Six
.pagesix {
	background-color: #978486;
	.picturespage{
		padding: 0;
		width: 80%;


    	top: 20px;
    	img{
    		border: none;
    		margin:0 auto;
    		width: 95%;
    	}

	}

}

//Map Page
body.mapBody {
	// background: url('../assets/mapsite.jpg');
	display: flex;
	background-color: grey;
}
.scrollermap{
	width: 50%;
	overflow: scroll;
}
#scrollerimg{
	overflow-x: scroll;
	overflow-y:scroll;
	overflow: scroll;
	border: 6px solid white;
	border-radius: 10px;
	#mango {
		position: relative;
		top: 10px;
		left: 45px;
	}

}

.wrappermap{
	width: 50%;
}
.border{
	display: flex;
    justify-content: space-between;
	margin: 2%;
	
	img.scroll{
		max-height: 70px;
    	// position: relative;
    	// left: 93%;

	}
	img.runner{
		max-height: 70px;
	}
	p {
		width: 200px;
		// position: relative;
		// left: 75%;
		padding-top: 15px;
		@include fontSize(15);
		text-shadow: 4px 3px 5px #888888;
	}

}
//The pointers on map

.pointPin {
	text-align: center;
    width: 60px;
    img {
    	max-height: 51px;
    }
    a {
    	color: red;
    	@include fontSize(12);
    	font-family: $font;
   		text-shadow: 4px 4px 10px rgba(255, 255, 255, 1);
   		&:hover {
   			color:#E37D15;
   		}
    }
}
.mango1 {
	position: relative;
    top: -808px;
    left: 1179px;
}
.makhubu {
	position: relative;
    top: -536px;
    left: 1476px;
}
.eardrops {
	position: relative;
    top: -742px;
    left: 1476px;
}
.yosemite{
	position: relative;
    top: -627px;
    left: 1067px;
}
.valentino {
	position: relative;
    top: -443px;
    left: 1560px;
}
.mo {
	position: relative;
    top: -734px;
    left: 1132px;
}
.triplea{
	position: relative;
    top: -2067px;
    left: 716px;
}
.expedia {
	position: relative;
	top: -1038px;
	left: 1279px;
}
.wives{
	 position: relative;
	 top: -1110px;
	 left: 1131px;
}
.haunting {
	position: relative;
    top: -1199px;
    left: 1149px;
}
.son {
	position: relative;
	top: -1549px;
    left: 1448px;
}
.groom {
	position: relative;
    top: -1135px;
    left: 1116px;
}
.fahmy {
	position: relative;
    top: -1305px;
    left: 1330px;
}
.rayban {
	position: relative;
    top: -1333px;
    left: 1272px;
}

